@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: "Nunito", sans-serif;
}

#container {
    position: fixed;
    inset: 0;
    z-index: 1;
}

.glow {
    position: fixed;
    inset: 0;
    z-index: 2;
    pointer-events: none;
}

canvas {
    display: block;
}

.foreground {
    position: relative;
    z-index: 10;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #ffffff;
    background: rgba(0,0,0,0.35);
    padding: 20px;
    border-radius: 14px;
    backdrop-filter: blur(6px);
}

.gif_container img {
    width: 300px;
    height: auto;
}
